:host {
    display: block;
}

.page-item.active .page-link {
    background-color: #6546d1;
    border-color: #6546d1;
}

.page-link {
    color: #6546d1;
}

.pagination {
    justify-content: center;
}



.condition {
    display: inline-flex;
}

.input-page-index {
    text-align: center;
}

.input-page-index::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6546d1;
    opacity: 1; /* Firefox */
}

.form-control {
    border-radius: 0px;
}

.condition .page-link {
    border-radius: 0px;
}
