<nav *ngIf="currentPage" aria-label="Page navigation">
    <ul *ngIf="currentPage.totalPage > 0" class="pagination">
        <span class="condition" *ngIf="currentPage.pageIndex != 0">
            <li class="page-item">
                <a class="page-link" (click)="goToFirstPage(); false" href="#" aria-label="Previous">
                    1
                </a>
            </li>
            <li *ngIf="currentPage.pageIndex > 2" class="page-item disabled">
                <input #pageIndexPrevious placeholder=".." type="text" size="1" (change)="pageUpdatedFromInput(pageIndexPrevious.value); clearInput($event)"
                    class="form-control input-page-index ">
            </li>
            <li *ngIf="currentPage.pageIndex > 1" class="page-item">
                <a (click)="goToPreviousPage(); false" href="" class="page-link">{{ currentPage.pageIndex }}</a>
            </li>
        </span>

        <li class="page-item active">
            <a class="page-link">{{ currentPage.pageIndex + 1 }}
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li *ngIf="currentPage.pageIndex < currentPage.totalPage - 2" class="page-item">
            <a (click)="goToNextPage(); false" class="page-link" href="#">{{ currentPage.pageIndex + 2 }}</a>
        </li>

        <span class="condition" *ngIf="currentPage.pageIndex < currentPage.totalPage - 3">
            <input #pageIndexNext placeholder=".." type="text" size="1" (change)="pageUpdatedFromInput(pageIndexNext.value); clearInput($event)"
                class="form-control input-page-index ">

        </span>
        <li *ngIf="currentPage.pageIndex < currentPage.totalPage - 1" class="page-item">
            <a (click)="goToLastPage(); false" class="page-link" href="#" aria-label="Next">
                {{ currentPage.totalPage }}
            </a>
        </li>
    </ul>
</nav>
