.content {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    width: 60vh;
    background-color: #fefefe;
    border-radius: 10px;
    border: 1px solid #adadad;
    padding: 30px;
}
.fa-desktop {
    display: block;
    font-size: 6.5em;
    margin: 5px;
    margin-bottom: 20px;
    color: #cd1c68;
}
.description {
    font-weight: bold;
    color: #55524f;
}
.company-name {
    font-family: 'Krona One', sans-serif;
    font-size: 2em;
    color: #cd1c68;
    margin-bottom: 0px;
}
