<div class="content">

    <i class="fas fa-desktop"></i>

    <div>
        <p class="company-name">CDB</p>
        <p class="description">{{ "home.login.description" | translate }}</p>
    </div>

    <button (click)="signInWithGoogle()" class="sb sb-google">
        {{ "home.login.google" | translate }}
    </button>
</div>

