.sb {
    display: inline-block;
    height: 40px;
    color: white !important;
    font-family: sans-serif;
    padding-right: 15px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid transparent;
}
.sb::before {
    font-family: "Font Awesome 5 Brands";
    text-align: center;
    width: 40px;
    height: 100%;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
    line-height: 40px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.sb:hover {
    text-decoration: none;
    color: white !important;
}
.sb.sb-nb {
    border: 1px solid transparent;
}
.sb.sb-ct {
    text-align: center;
}
.sb.sb-fw {
    width: 220px;
}
.sb.sb-m-2 {
    margin-top: 2px;
    margin-bottom: 2px;
}
.sb.sb-m-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sb.sb-m-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sb.sb-b {
    display: block;
}
.sb.sb-br-2 {
    border-radius: 2px;
}
.sb.sb-br-5 {
    border-radius: 5px;
}
.sb.sb-br-10 {
    border-radius: 10px;
}
.sb-linkedin {
    background-color: #0183cb;
    border-color: #01527f;
}
.sb-linkedin::before {
    background-color: #0173B2;
    content: "\f0e1";
}
.sb-linkedin:hover::before {
    background-color: #0183cb;
}
.sb-linkedin:hover {
    background-color: #0194e5;
}
.sb-paypal {
    background-color: #1d6c97;
    border-color: #113e57;
}
.sb-paypal::before {
    background-color: #195D82;
    content: "\f1ed";
}
.sb-paypal:hover::before {
    background-color: #1d6c97;
}
.sb-paypal:hover {
    background-color: #217cad;
}
.sb-facebook {
    background-color: #4366ad;
    border-color: #2e4576;
}
.sb-facebook::before {
    background-color: #3C5B9B;
    content: "\f39e";
}
.sb-facebook:hover::before {
    background-color: #4366ad;
}
.sb-facebook:hover {
    background-color: #4f72bb;
}
.sb-google {
    background-color: #f7533f;
    border-color: #e12009;
}
.sb-google::before {
    background-color: #F63D27;
    content: "\f1a0";
}
.sb-google:hover::before {
    background-color: #f7533f;
}
.sb-google:hover {
    background-color: #f86958;
}
