<div class="container mt-5">
    <form>
        <div class="form-group input-prepend">
            <input
                #searchComputer
                (keyup)="searchKeyUp($event)"
                type="text"
                class="form-control span2"
                id="search-computer"
                placeholder="{{ 'computer.search' | translate }}...">
            <select class="custom-select" (change)="pageSizeChanged($event.target.value)" id="page-size">
                <option selected>10</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
            </select>
            <a routerLink="/computers/add" class='btn btn-lg add-computer'>
                <i class="fa fa-plus-circle"></i> {{ 'computer.add.button' | translate }}
            </a>
        </div>
    </form>


    <table class="table table-striped table-bordered table-hover table-light">

        <thead class="thead">
        <tr>
            <th class="hover-col" (click)="sortByColumnName('name')">{{ 'computer.name' | translate }}
                <div class="float-sm-right"><i class="fa fa-sort{{sortArrowsMap.get('name')}}"></i></div>
            </th>
            <th class="hover-col" (click)="sortByColumnName('company')">{{ 'computer.company' | translate }}
                <div class="float-sm-right"><i class="fa fa-sort{{sortArrowsMap.get('company')}}"></i></div>
            </th>
            <th class="hover-col" (click)="sortByColumnName('introduced')">{{ 'computer.released' | translate }}
                <div class="float-sm-right"><i class="fa fa-sort{{sortArrowsMap.get('introduced')}}"></i></div>
            </th>
            <th class="hover-col" (click)="sortByColumnName('discontinued')">{{ 'computer.discontinued' | translate }}
                <div class="float-sm-right"><i class="fa fa-sort{{sortArrowsMap.get('discontinued')}}"></i></div>
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody *ngIf="currentPage">
        <tr *ngFor="let computer of currentPage.elements">
            <td>{{ computer.name }}</td>
            <td>{{ computer.companyName }}</td>
            <td><span
                *ngIf="computer.introduced">{{ computer.introduced | date:'mediumDate':'':translate.currentLang }}</span>
            </td>
            <td><span *ngIf="computer.discontinued">{{ computer.discontinued | date:'mediumDate':'':translate.currentLang  }}</span>
            </td>
            <td>
                <a [routerLink]="['/computers', computer.id, computer ]" class="btn">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td>
                <a class="btn" data-toggle="modal" data-target="#deleteModal"
                    (click)="deleteModal.computer = computer">
                    <i class="fa fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" #deleteModal>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'computer.delete.confirmationBox.title' | translate }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'computer.delete.confirmationBox.body' | translate }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'computer.delete.confirmationBox.cancel' | translate }}</button>
                    <button (click)="deleteComputer(deleteModal.computer.id)" type="button" class="btn btn-primary" data-dismiss="modal">{{ 'computer.delete.confirmationBox.confirm' | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <app-pagination
        (needToUpdateThePage)="updatePage($event)"
        [(currentPage)]="currentPage">
    </app-pagination>
</div>
