<div *ngIf="computer" class="container mt-5">
    <h3>{{ 'computer.add.title' | translate }}</h3>

    <app-error [errors]="errorsFromServer"></app-error>

    <form #computerForm="ngForm">
        <div class="form-group">
            <label for="name">{{ 'computer.name' | translate }}</label>
            <input id="name"
                   type="text"
                   class="form-control"
                   name="computerName"
                   required
                   pattern="^(?=.*\S).+$"
                   [ngClass]="{'is-invalid': name.errors}"
                   [(ngModel)]="computer.name"
                   #name="ngModel"
            >
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div id="name-required" *ngIf="name.errors.required">
                    {{ 'computer.add.name-required' | translate }}
                </div>
                <div id="wrong-pattern" *ngIf="name.errors.pattern">
                    {{ 'computer.add.whitespaces-not-valid' | translate }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">{{ 'computer.company' | translate }}</label>
            <select name="company" class="form-control" [(ngModel)]="computer.company" required>
                <option
                    *ngFor="let company of companies"
                    [ngValue]="company.id">{{ company.name }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="computerIntroduced" class="col-form-label">{{ 'computer.released' | translate }}</label>
            <input
                id="computerIntroduced"
                class="form-control"
                type="date"
                name="computerIntroduced"
                #computerIntroduced="ngModel"
                [ngModel]="computer.introduced"
                (ngModelChange)="computer.introduced = $event"
                appDateIsBefore="{{ computer.discontinued }}"
            >
            <div [hidden]="computerIntroduced.valid || computerIntroduced.pristine"
                 class="alert alert-danger">
                {{ 'computer.edit.introduced-date-before' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label for="computerDiscontinued" class="col-form-label">{{ 'computer.discontinued' | translate }}</label>
            <input
                id="computerDiscontinued"
                class="form-control"
                type="date"
                name="computerDiscontinued"
                #computerDiscontinued="ngModel"
                [ngModel]="computer.discontinued"
                (ngModelChange)="computer.discontinued = $event"
                appDateIsAfter="{{ computer.introduced }}"
            >
            <div [hidden]="computerDiscontinued.valid || computerDiscontinued.pristine"
                 class="alert alert-danger">
                {{ 'computer.edit.discontinued-date-after' | translate }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="add()" [disabled]="!computerForm.valid">
            {{ 'computer.add.submit' | translate }}
        </button>
    </form>
</div>
