<div class="container mt-5">
    <form>
        <div class="form-group input-prepend">
            <input
                #searchCompany
                (keyup)="searchKeyUp($event)"
                type="text"
                class="form-control span2"
                id="search-company"
                placeholder="{{ 'company.search' | translate }}..">
            <select class="custom-select" (change)="pageSizeChanged($event.target.value)" id="page-size">
                <option selected>10</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
            </select>
        </div>
    </form>

    <table class="table table-striped table-bordered table-hover table-light">
        <thead class="thead">
            <tr>
                <th class="hover-col" (click)="sortByColumnName()">{{ 'company.name' | translate }}<div class="float-sm-right"><i class="fa fa-sort{{arrow}}"></i></div></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngIf="currentPage">
            <tr *ngFor="let company of currentPage.elements">
                <td>{{ company.name }}</td>
                <td >
                    <a  class="btn" data-toggle="modal" data-target="#deleteModal"
                        (click)="deleteModal.company = company">
                        <i class="fa fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination
        (needToUpdateThePage)="updatePage($event)"
        [(currentPage)]="currentPage">
    </app-pagination>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" #deleteModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{{ 'company.delete.confirmationBox.title' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'company.delete.confirmationBox.body' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'company.delete.confirmationBox.cancel' | translate }}</button>
                <button (click)="deleteCompany(deleteModal.company.id)" type="button" class="btn btn-primary" data-dismiss="modal">{{ 'company.delete.confirmationBox.confirm' | translate }}</button>
            </div>
        </div>
    </div>
</div>
