:host {
    display: block;
}

#inlineFormCustomSelect {
    background:transparent;
    border:none;
    color:white;
}

#languageOptions {
    background:#5b32b4;
}

.navbar-brand > img {
    max-height: 64px;
}

button {
    margin-left: 10px;
}
